@media (max-width: 576px){
.container{
width: 576px;
}
}
@media (max-width: 768px){.container{
 width: 576px;
}}
@media (max-width: 992px){.container{
width: 576px;
}}
@media (max-width: 1140px){.container{
width: 576px;
}}
