body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  justify-content: space-around;
}

ul {
  list-style: none;
  display: flex;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Bold.eot");
  src: url("./fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Bold.woff2") format("woff2"), url("./fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-Bold.eot");
  src: url("./font/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("./font/Gilroy-Bold.woff2") format("woff2"), url("./font/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Heavy.eot");
  src: url("./fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Heavy.woff2") format("woff2"), url("./fonts/Gilroy-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "./fonts/Gilroy";
  src: url("./fonts/Gilroy-Light.eot");
  src: url("./fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Light.woff2") format("woff2"), url("./fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "./fonts/Gilroy";
  src: url("./fonts/Gilroy-Medium.eot");
  src: url("./fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Medium.woff2") format("woff2"), url("./fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "./fonts/Gilroy";
  src: url("./fonts/Gilroy-Regular.eot");
  src: url("./fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Regular.woff2") format("woff2"), url("./fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header__botom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header__list li a {
  padding: 55px;
  color: #828282;
  font-family: Gilroy-Bold;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__list li a:hover {
  color: var(--Black, #070707);
  font-weight: 800;
}
.header__den {
  display: flex;
  gap: 290px;
  align-items: center;
  justify-content: center;
}
.header__den h1 {
  color: var(--Black, #070707);
  font-family: Gilroy-Bold;
  font-size: 47.339px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header___den p {
  align-items: center;
  color: #3a3333;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__den span {
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: rotate(270deg);
}
.header__den strong {
  color: #000;
}
.header__img {
  width: 930px;
}

.main {
  width: 100%;
  height: 100vh;
}
.main__abut {
  width: 1000px;
  height: 406px;
  flex-shrink: 0;
  background-color: #F6F6F6;
  text-align: center;
  align-items: center;
  top: 90px;
}
.main__abut h1 {
  color: var(--Black, #070707);
  text-align: center;
  font-family: Gilroy-Bold;
  align-items: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__abut p {
  color: var(--Black, #070707);
  text-align: center;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.main__skils {
  display: flex;
  justify-content: center;
  padding: 90px 0px;
  text-align: center;
}
.main__nav {
  justify-content: center;
  text-align: center;
}
.main__nav p {
  color: var(--Black, #070707);
  text-align: center;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__car {
  display: flex;
  gap: 65px;
}
.main__cars {
  color: #828282;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__portt {
  justify-content: center;
  align-items: center;
}
.main__rotat {
  justify-content: center;
  text-align: center;
}

.footer {
  background-color: rgb(243, 242, 246);
  width: 100%;
  height: 100vh;
}
.footer__nav {
  text-align: center;
  justify-content: center;
}
.footer__nav h1 {
  color: var(--Black, #070707);
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.footer__nav p {
  color: var(--Black, #070707);
  text-align: center;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__nav button {
  height: 94 px;
  color: #FFF;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #070707;
  border-radius: 36%;
  background-color: #070707;
  margin: 65px;
}
.footer__img ul {
  justify-content: center;
  text-align: center;
  padding: 40px;
  gap: 60px;
}
.footer__nav span {
  color: #828282;
  text-align: center;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 65px;
}/*# sourceMappingURL=stayle.css.map */